<div class="container mb-1">
	<div class="card p-2 p-md-1 p-md-1">
		<div class="d-sm-flex  justify-content-between">
			<div class="mb-md-0 pb-md-0 pb-2 d-flex hide-scroll" style="overflow-x: scroll;">
				<div class="d-block mr-2 btn btn-sm btn-light">Дневник</div>
				<div class="d-block mr-2 btn btn-sm btn-dark">Наблюдения</div>
				<div class="d-block mr-2 btn btn-sm btn-light">Python</div>
				<div class="d-block mr-2 btn btn-sm btn-dark">Заметки</div>
				<div class="d-block mr-2 btn btn-sm btn-primary">JS</div>
			</div>
			<div class="">
				<button class="btn btn-sm btn-info w-100"><i class="far fa-plus-square mr-2"></i>Создать дневник</button>
			</div>
		</div>
	</div>
</div>