{% extends './origin/base.html' %}
{% block title %}Регистрация{% endblock %}
{% block content %}				
	<div class="d-md-flex d-block">
		<div class="sidebar-fluid__wrapper mb-2">
			<div class="sidebar-fluid w-100">
				<div class="d-md-block collapse multi-collapse" id="multiCollapseExample1">
					<div class="card px-3 py-2 mb-1">
						<span>
							Апрель, 2
							<span class="text-muted">(Пн.)</span>
							<br>
							<a href="#" class="text-muted">
								<small><i class="fas fa-glass-cheers mr-1"></i> День святого валентина</small>
							</a>
						</span>
					</div>
					<div class="card py-1">
						<div>
							<a class="sidebar-fluid__item" href="#">
								<small>
									<i class="fas fa-user-circle mr-3 menu-item-icon"></i>Мои записи
								</small>
							</a>
							<a class="sidebar-fluid__item" href="#">
								<small>
									<i class="far fa-newspaper mr-3 menu-item-icon"></i>Лента
								</small>
							</a>
							<a class="sidebar-fluid__item" href="#">
								<small>
									<i class="far fa-comment-alt mr-3 menu-item-icon"></i>Общение
								</small>
							</a>
							<a class="sidebar-fluid__item" href="#">
								<small>
									<i class="fas fa-user-friends mr-3 menu-item-icon"></i>Товарищи
								</small>
							</a>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="pl-md-1 content-fluid w-100">
			<div class="card p-1">
				<a class="text-white" href="#">Выживание на гималаях | день 21</a>
				<button class="btn btn-info">button</button>
			</div>
		</div>	
	</div>

{% endblock %}